{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h4>Обработка начисления OZON за отчетный период</h4>
            </div>
                <div class="card-body">
                    <p>Требуемые файлы и их структура:</p>
<p>1. Файл <strong>sebes.xlsx</strong> - это эксель файл из двух столбцов, названия которых приведены ниже:</p>
<ul>
<li><strong>Артикул поставщика</strong> - первый столбец, где должны быть прописаны артикулы ваших товаров. Они должны совпадать с теми, что фигурируют в отчете начислений.</li>
<li><strong>zakupka</strong> - второй столбец файла, где проставлены цены себестоимости товаров.</li>
</ul>
<p><img src="https://i.ibb.co/SJ400qG/Screenshot-4.png" alt="" width="400" height="141" /></p>
<p>&nbsp;</p>
<p>2. <strong>Файл начислений из личного кабинета продавца OZON.</strong></p>
<p>Заходите в личный кабинет OZON ФИНАНСЫ - НАЧИСЛЕНИЯ - ПЕРИОД - СКАЧАТЬ ОТЧЕТ - <strong>ПО ТОВАРАМ</strong>. Ничего в нем не меняем и загружаем на сайт.</p>
<p><img src="https://i.ibb.co/d6YryJv/Screenshot-3.png" alt="" width="700" height="132" /></p>
<p>Перейдите&nbsp;в раздел OZON на нашем сайте, в поле "загрузка файлов"&nbsp;прикрепить файл начислений, во второе поле ниже файл себестоимости и нажать "Расчитать". После чего вы увидите заполнение всех метрик и таблиц, также будет доступна таблица ABC анализа товаров. Таблица продаж по товарам выводится первыми тремя строками для ознакомления, полную таблицу можно выгрузить, нажав "Экспортировать XLSX".</p>
<p>&nbsp;</p>
        </div>
    </div>
<!-- [ Main Content ] end -->
{% endblock content %}
{% block extrajs %}
<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
{% endblock extrajs %}