{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h4>Расчет детализации WILDBERRIES</h4>
            </div>
                <div class="card-body">
<p>Требуемые файлы и их структура:</p>
<p>1. Файл <strong>sebes.xlsx</strong> - это эксель файл из двух столбцов, названия которых приведены ниже:</p>
<ul>
<li><strong>Артикул поставщика</strong> - первый столбец, где должны быть прописаны артикулы ваших товаров. Они должны совпадать с теми, что фигурируют в отчете начислений. Полное совпадение, вплоть до регистра.</li>
<li><strong>zakupka</strong> - второй столбец файла, где проставлены цены себестоимости товаров.</li>
</ul>
<p><img src="https://i.ibb.co/SJ400qG/Screenshot-4.png" alt="" width="400" height="141" /></p>
<p>2. Недельный отчет WILDBERRIES за расчетный период.</p>
<ul>
<li>файл <strong>0.xlsx</strong></li>
</ul>
<p>&nbsp;</p>
<h3>Загрузка файлов</h3>
<p>Загружаете в поле main файл <strong>0.xlsx</strong>, далее прописываете сумму хранения и сумму рекламных расходов, обе суммы указаны в детализации, если есть какие то штрафы, или платные приемки, можете их указать в сумме к хранению. После загружаете файл <strong>sebes.xlsx</strong> в поле sebes и нажимаете <strong>"Рассчитать"&nbsp;</strong>и ждем заполнение всех метрик и таблиц. При необходимости полную выгрузку можно сделать нажав на кнопку <strong>"Экспортировать в XLSX"</strong>.</p>
<p>&nbsp;</p>
            </div>
        </div>
    </div>
<!-- [ Main Content ] end -->
{% endblock content %}
{% block extrajs %}
<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
{% endblock extrajs %}