{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-body">
                <h5 class="text-white">Количество заказов</h5>
                <h2 class="text-end text-white">
                    <i class="feather icon-shopping-cart float-start"></i><span>{% if orders %}{{ orders }}{% else %}0{% endif %}</span>
                </h2>
                <p class="m-b-0">Возвраты<span class="float-end">{{ returns }}</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-body">
                <h5 class="text-white">Выручка</h5>
                <h2 class="text-end text-white">
                    <i class="feather icon-tag float-start"></i><span>{% if revenue %}{{ revenue }}{% else %}0{% endif %}</span>
                </h2>
                <p class="m-b-0">В этом месяце<span class="float-end"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-body">
                <h5 class="text-white">Общий ROI</h5>
                <h2 class="text-end text-white">
                    <i class="feather icon-repeat float-start"></i><span>{% if roi %}{{ roi }}{% else %}0{% endif %}</span>
                </h2>
                <p class="m-b-0">В этом месяце<span class="float-end"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-red order-card">
            <div class="card-body">
                <h5 class="text-white">Прибыль</h5>
                <h2 class="text-end text-white">
                    <i class="feather icon-award float-start"></i><span>{% if profit %}{{ profit }}{% else %}0{% endif %}</span>
                </h2>
                <p class="m-b-0">Закупка<span class="float-end">{{ purchase }}</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Загрузка файлов</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-file">
                            <label for="file_1"><b>Отчёт</b></label>
                            <p><input type="file" name="file_1" class="input-file" id="file1"></p>
                            <label for="file_2"><b>Себестоимость</b></label>
                            <p><input type="file" name="file_2" class="input-file" id="file2"></p>
                            <label for="period"><b>Период</b></label>
                            <p><input type="date" name="period" id="period"></p>
                            <button type="submit" class="feather icon-share">Загрузить</button>
                        </div>
                        
                    </div>
                </form>
                <script>$('.input-file input[type=file]').on('change', function(){
                    let file = this.files[0];
                    $(this).next().html(file.name);
                });
                </script>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="card table-card">
            <div class="card-body p-0">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="table-responsive">
                            <div class="customer-scroll" style="height:362px;position:relative;">
                                <table class="table table-hover m-b-0">
                                    <thead>
                                        <tr>
                                            <th><span>SKU</span></th>
                                            <th><span>Продажи <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                            <th><span>Кол-во <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                            <th><span>Выручка <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                            <th><span>Закупка <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                            <th><span>EBITDA <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                            <th><span>ROI <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                        <tr>
                                            {% for el in row %}
                                            <td>{{ el }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Customer overview end -->
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
{% block extrajs %}
<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
{% endblock extrajs %}